@use 'base/variables' as v;
@use 'base/mixins' as m;
@use "sass:color";

.bar {
    background-color: v.$white;
    padding: 1rem 2rem;
    box-shadow: 1px 12px 9px -13px rgba(0, 0, 0, .4);

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    p {
        margin: 0;
        font-size: clamp(1.3rem, 0.341vw + 1.191rem, 1.6rem);

        span {
            font-weight: 700;
            color: v.$indigo;
        }
    }

    .logout {
        @include m.button(color.adjust(v.$indigo, $lightness: -20%), v.$white);
        & {
            border-radius: .5rem;
            font-size: 1.2rem;
            padding: 1rem;
        }
    }
}